{
  "permissions": {
    "allow": [
      "mcp__claude_ai_Notion__notion-create-comment",
      "mcp__claude_ai_Notion__notion-create-database",
      "mcp__claude_ai_Notion__notion-create-pages",
      "mcp__claude_ai_Notion__notion-duplicate-page",
      "mcp__claude_ai_Notion__notion-fetch",
      "mcp__claude_ai_Notion__notion-get-comments",
      "mcp__claude_ai_Notion__notion-get-teams",
      "mcp__claude_ai_Notion__notion-get-users",
      "mcp__claude_ai_Notion__notion-move-pages",
      "mcp__claude_ai_Notion__notion-query-database-view",
      "mcp__claude_ai_Notion__notion-query-meeting-notes",
      "mcp__claude_ai_Notion__notion-search",
      "mcp__claude_ai_Notion__notion-update-data-source",
      "mcp__claude_ai_Notion__notion-update-page"
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "sh __HOME__/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "superpowers@claude-plugins-official": true,
    "feature-dev@claude-plugins-official": true,
    "code-review@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "frontend-design@claude-plugins-official": true,
    "claude-md-management@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": true,
    "security-guidance@claude-plugins-official": true,
    "explanatory-output-style@claude-plugins-official": true,
    "figma@claude-plugins-official": true,
    "playwright@claude-plugins-official": true,
    "slack@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true,
    "gopls-lsp@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "interface-design": {
      "source": {
        "source": "github",
        "repo": "Dammyjay93/interface-design"
      }
    }
  },
  "effortLevel": "xhigh",
  "tui": "fullscreen",
  "theme": "dark-daltonized",
  "skipWorkflowUsageWarning": true,
  "agentPushNotifEnabled": true,
  "skipAutoPermissionPrompt": true
}
