[user]
	name = YOUR_NAME
	email = YOUR_EMAIL

[init]
	defaultBranch = main

[core]
	excludesfile = __HOME__/.config/git/ignore

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
